.grid-item div {
  margin: 2px;
  padding: 2px 10px;
}
input,
textarea,
select {
  width: 95%;
  padding: 4px 10px;
}
select {
  width: 101% !important;
}
select :first-child {
  color: gray;
}

.btn {
  width: 100%;
  max-width: 180px;
  min-width: 40px;
  padding: 1rem;
  color: white;
  background-color: #256d85;
  border-style: none;
  justify-content: center;
  border-radius: 6px;
}

.add {
  border-radius: 6px 6px 0px 0px !important;
  transition: text-decoration 300ms, text-underline-offset 300ms, color 300ms;
}

.add:hover {
  color: #06283d;
  background-color: white;
  box-shadow: 0px -8px 6px #d4d4d4;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 0.4rem;
  text-decoration-thickness: 2px;
  animation: 0.5s offset-line;
  transition: font-weight 300ms;
}
@keyframes offset-line {
  from {
    opacity: 0.2;
    text-underline-offset: 0.8rem;
  }

  to {
    opacity: 1;
    text-underline-offset: 0.4rem;
  }
}
.delete {
  width: 100%;
  max-width: 150px;
  min-width: 40px;
  padding: 5px 0px;
  color: white;
  border-style: none;
  background-color: #3a9cdd;
  border-radius: 3px;
}
.delete:hover {
  background-color: #eb3232;
}
#preview {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
#preview .btn {
  background-color: #06283d;
  width: 120px;
  padding: 1.5rem 0rem;
  margin: 3px;
}
#preview .btn:hover {
  background-color: white;
  color: #06283d;
  border: 1px solid #06283d;
  font-weight: bold;
  padding: 1.3rem 0rem;
}
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.header div:last-child {
  display: grid;
  padding-right: 3rem;
  justify-items: end;
}
/*Personal - info section*/
#personal-info {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  grid-template-areas:
    "input2 input1 "
    "input3 input1"
    "input4 input1"
    "input5 input1"
    "input6 input6"
    "input7 input7"
    "input8 input8";

  margin-bottom: 1.5rem;
}
#personal-info input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#personal-info input[type="file"] + label {
  letter-spacing: 2px;
  text-align: center;
  width: 150px;
  max-height: 53.99px;
  min-width: 40px;
  padding: 20px;
  color: white;
  background-color: #06283d;
  border-radius: 6px;
}
#personal-info input[type="file"] + label:hover {
  background-color: #063c5e;
}
#personal-info .picture {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.picture img {
  width: 150px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0px 2px 10px #d4d4d4;
}
#personal-info .grid-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.pgrid-1 {
  grid-area: input1;
}
.pgrid-2 {
  grid-area: input2;
}
.pgrid-3 {
  grid-area: input3;
}
.pgrid-4 {
  grid-area: input4;
}
.pgrid-5 {
  grid-area: input5;
}
.pgrid-6 {
  grid-area: input6;
}
.pgrid-7 {
  grid-area: input7;
}
.pgrid-8 {
  grid-area: input8;
}

/*End for personal-info section*/

/*Education and experience section*/
.education,
.experience,
.training {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;

  margin-bottom: 1.5rem;
}
.education .grid-item,
.experience .grid-item,
.training .grid-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.shadow {
  box-shadow: 0px 2px 10px #d4d4d4;
}

/*End for education and experience section*/
#skills {
  padding: 1rem;
  margin-bottom: 1rem;
}
#skills #skill-list {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  padding: 10px;
}

@media only screen and (max-width: 650px) {
  #personal-info {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
    grid-template-areas:
      "input1"
      "input2"
      "input3"
      "input4"
      "input5"
      "input6"
      "input7"
      "input8";
  }
  #personal-info .grid-item {
    grid-template-columns: 1fr;
    width: 95%;
    align-content: center;
    text-align: center;
  }
  #personal-info .grid-item div {
    padding: 4px 0px;
  }
  .education .grid-item,
  .experience .grid-item,
  .training .grid-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header div:last-child {
    padding-right: 0;
  }
}
#buttons {
  z-index: 2000;
}

@keyframes show {
  from {
    transition: transform 0.3s ease-in-out, opacity 0.4s ease;
    transform: translate(-50%, -100%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}
