body {
  background-color: #dff6ff;
  height: 100vw;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main {
  padding: 1rem;
  background-color: white;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}
.padd {
  padding: 30px 4px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#title {
  color: white;
  font-size: 25px;
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #06283d;
}
h1 {
  text-align: left;
  color: #256d85;
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bolder;
  letter-spacing: 4px;
}
#buttons {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  z-index: 3000;
}
#buttons button {
  background-color: #06283d;
  width: 120px;
  padding: 1.5rem 0rem;
  border-radius: 5px;
  color: white;
  margin: 3px;
}
#buttons button:hover {
  background-color: rgb(223, 27, 27);
  font-weight: bold;
  padding: 1.3rem 0rem;
}
#overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
#page {
  font-size: 16px !important;

  line-height: 22px;
  letter-spacing: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow-y: scroll;
  height: 100vh;
  padding: 1.5rem;
  width: 210mm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  animation: 0.5s show alternate;
  transition: transform 0.3s ease-in-out, opacity 0.4s ease;
}
#page h1 {
  font-size: 16px !important;
}

#subpage {
  padding: 0.5cm 1cm;

  width: 210mm;
  height: 100vh;
}

.upper-side ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 1rem;
}
.upper-side ul div:first-child {
  padding-top: 30px;
  width: 50%;
}
.name {
  font-size: 18px !important;
  font-weight: bold;
}
.upper-side ul div:last-child {
  text-align: right;
  width: 50%;
}
#prev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.specify {
  color: red;
  font-weight: bold;
}
#note {
  display: none;
  grid-area: note;
  background-color: rgb(241, 179, 62);
  padding: 1rem;
  letter-spacing: 2px;
}
.indentation {
  padding: 1.85rem;
}
.personal-section li {
  display: grid;
  grid-template-columns: 175px 1fr;
}

.skills-section ul {
  display: flex;
  flex-direction: column;
}
.skills-section li {
  list-style-type: disc;
}
.education-section ul ul li:first-child,
.exp-section ul ul li:first-child {
  font-weight: bold;
}
.space-bottom {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 850px) {
  #prev {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "left-b right-b"
      "note note";
  }
  #note {
    display: block;
  }
}
