body {
  background-color: #dff6ff;
  height: 100vw;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main {
  padding: 1rem;
  background-color: white;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}
.padd {
  padding: 30px 4px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#title {
  font-size: 25px;
  padding: 1rem;
  text-align: center;
  color: #06283d;
}
h1 {
  text-align: left;
  color: #256d85;
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bolder;
  letter-spacing: 4px;
}
#page {
  font-size: 16px !important;
  line-height: 22px;
  letter-spacing: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: 0.5s show alternate;
  transition: transform 0.3s ease-in-out, opacity 0.4s ease;
}
#page h1 {
  font-size: 16px !important;
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 257mm;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.upper-side ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 1rem;
}
.upper-side ul div:first-child {
  padding-top: 30px;
  width: 50%;
}
.name {
  font-size: 18px !important;
  font-weight: bold;
}
.upper-side ul div:last-child {
  text-align: right;
  width: 50%;
}

.indentation {
  padding: 1rem 2rem;
}
.personal-section li {
  display: grid;
  grid-template-columns: 175px 1fr;
}

.skills-section ul {
  display: flex;
  flex-direction: column;
}
.skills-section li {
  list-style-type: disc;
}
.education-section ul ul li:first-child,
.exp-section ul ul li:first-child {
  font-weight: bold;
}
