body {
  background-color: #dff6ff;
  height: 100vw;
  padding: 1rem;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
#main {
  padding: 1rem;
  background-color: white;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}
.padd {
  padding: 30px 4px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
#title {
  font-size: 25px;
  padding: 1rem;
  text-align: center;
  color: #06283d;
}
h1 {
  text-align: left;
  color: #256d85;
  width: 100%;
  font-size: 18px;
  padding: 0.5rem;
  font-weight: bolder;
  letter-spacing: 4px;
}
